<div class="container pt-3" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3 class="mb-3 d-flex justify-content-between">
      Marcajes de realizados

      <button href class="btn btn-primary" disabled="{{ this.buttonAttrs }}" (click)="generateMarking()">{{ this.buttonMessage }}</button>
    </h3>

    <div class="mt-5">
      <h4>Marcaje #</h4>
      <p>Horario de entrada: <strong>{{ content.schedule.income }}</strong></p>
      <p>Almuerzo: <strong>{{ content.schedule.lunchStart }}</strong> a <strong>{{ content.schedule.lunchEnd }}</strong></p>
      <p>Horario de salida: <strong>{{ content.schedule.output }}</strong></p>
    </div>
  </header>
</div>

<ng-template #loggedOut>
  Please login to see your profile.
</ng-template>
