<div id="app">
  <nav class="navbar navbar-expand bg-gray">
    <a href="/home" class="navbar-brand">
      <img src="/assets/img/logo.png" alt="Chequealo logo"/>
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/marking" class="nav-link" *ngIf="isLoggedIn" routerLink="marking">Marcaje</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Unete</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Inicia sesion</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <footer>
    <div>
        <p class="mb-0">Copyright &copy; Voxel - Chequealo 2021</p>
    </div>
  </footer> 
</div>
