<div class="container pt-3" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3 class="mb-3">
      Perfil de <strong>{{ content.firstName }} {{ content.lastName }}</strong>
    </h3>

    <p>Nombres: <strong>{{ content.firstName }}</strong></p>
    <p>Apellidos: <strong>{{ content.lastName }}</strong></p>
    <p>Dirección: <strong>{{ content.address }}</strong></p>
    <p>Trabajo: <strong>{{ content.jobPosition }}</strong></p>
    <p>Correo: <strong>{{ content.user.email }}</strong></p>

    <div class="mt-5">
      <h4>Horario de trabajo</h4>

      <p>Horario de entrada: <strong>{{ content.schedule.income }}</strong></p>
      <p>Almuerzo: <strong>{{ content.schedule.lunchStart }}</strong> a <strong>{{ content.schedule.lunchEnd }}</strong></p>
      <p>Horario de salida: <strong>{{ content.schedule.output }}</strong></p>
    </div>
  </header>
</div>

<ng-template #loggedOut>
  Please login to see your profile.
</ng-template>