/* You can add global styles to this file, and also import other style files */

body {
    width: 100%;
    height: 100vh;
    background: #1c485c;
  }

.navbar-brand img {
  max-width: 200px;
}

.bg-gray {
  background-color: fefefe;
}

.full-width {
  width: 100%;
}

.banner {
  position: relative;
}

.banner .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
}

.banner .overlay h1 {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

footer {
  background: #dee2e6;
  text-align: center;
  padding: 10px;
}
  
