<div class="banner">
    <img src="/assets/img/banner.jpeg" class="full-width img-fluid" alt="personas trabajando">
    <div class="overlay">
        <h1>El tiempo es la cosa más valiosa que una persona puede gastar. <small class="d-block text-right">- Cristiano Ronaldo</small></h1>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col col-6">
          <img class="img-fluid" src="/assets/img/spring.png" alt="Spring img" />
      </div>
      <div class="col col-6">
          <h2 class="mb-2">
            Spring Framework
          </h2>
          <p>
            Escrito inicialmente por Rod Johnson, fue lanzado por primera vez en el mes de Junio del año 2003 bajo la licencia Apache 2.0, siendo una plataforma Java de código abierto. Convirtiéndose desde entonces en el framework más popular para Java empresarial, para crear código de alto rendimiento, liviano y reutilizable. Ya que su finalidad es estandarizar, agilizar, manejar y resolver los problemas que puedan ir surgiendo en el trayecto de la programación.
          </p>
        </div>
      </div>
  </div>
</div>

<div class="pt-5 pb-5">
  <div class="container text-white">
    <div class="row">
      <div class="col col-6">
          <h2 class="mb-2">
            Angular V12
          </h2>
          <p>
            Es un framework opensource desarrollado por Google para facilitar la creación y programación de aplicaciones web de una sola página, las webs SPA (Single Page Application).Angular separa completamente el frontend y el backend en la aplicación, evita escribir código repetitivo y mantiene todo más ordenado gracias a su patrón MVC (Modelo-Vista-Controlador) asegurando los desarrollos con rapidez, a la vez que posibilita modificaciones y actualizaciones.
          </p>
      </div>
      <div class="col col-6">
          <img class="img-fluid" src="/assets/img/angular.png" alt="Angular img" />
      </div>
    </div>
  </div>
</div>