
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="firstName"></label>
        <input
          type="text"
          placeholder="Nombres"
          class="form-control"
          name="firstName"
          [(ngModel)]="form.firstName"
          required
          minlength="3"
          maxlength="50"
          #firstName="ngModel"
        />
        <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
          <div *ngIf="firstName.errors.required">Se requiere el nombre del usuario</div>
          <div *ngIf="firstName.errors.minlength">
            El nombre del usuario debe tener al menos 3 caracteres
          </div>
          <div *ngIf="firstName.errors.maxlength">
            El nombre del usuario debe tener como máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName"></label>
        <input
          type="text"
          placeholder="Apellidos"
          class="form-control"
          name="lastName"
          [(ngModel)]="form.lastName"
          required
          minlength="3"
          maxlength="50"
          #lastName="ngModel"
        />
        <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
          <div *ngIf="lastName.errors.required">Se requiere nombre de usuario</div>
          <div *ngIf="lastName.errors.minlength">
            El apellido del debe tener al menos 3 caracteres
          </div>
          <div *ngIf="lastName.errors.maxlength">
            El apellido del usuario debe tener como máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email"></label>
        <input
          type="email"
          placeholder="E-mail"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email requerido</div>
          <div *ngIf="email.errors.email">
            Email debe ser una dirección de correo electrónico válida
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address"></label>
        <input
          type="text"
          placeholder="Direccion"
          class="form-control"
          name="address"
          [(ngModel)]="form.address"
          required
          minlength="3"
          maxlength="150"
          #address="ngModel"
        />
        <div class="alert-danger" *ngIf="address.errors && f.submitted">
          <div *ngIf="address.errors.required">Se requiere nombre de usuario</div>
          <div *ngIf="address.errors.minlength">
            La direccion debe tener al menos 3 caracteres
          </div>
          <div *ngIf="address.errors.maxlength">
            La direccion debe tener como máximo 150 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input
          type="password"
          placeholder="Contraseña"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Se requiere contraseña</div>
          <div *ngIf="password.errors.minlength">
            La contraseña debe tener al menos 6 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Registrate</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Error al registrarse!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="register-success text-center" *ngIf="isSuccessful">
      <div class="alert alert-success">
        Usuario registrado con exito exitoso de manera exitosa!
        <br>
        Tu nombre de usuario es: <strong>{{ username }}</strong>
      </div>

      <a href="/login" class="mt-3 btn btn-primary">Inicia sesion</a>
    </div>
  </div>
</div>

